#tab-bar {
  width: 350px;
  height: 200px;
  background-color: thistle;
}
#menuBar {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
}
#menuBar > a {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}
#page-list {
  height: 90%;
  background-color: yellowgreen;
}
.page {
  width: 100%;
  height: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-red {
  background-color: red;
}
.bg-yellow {
  background-color: yellow;
}
.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
.bg-hotpink {
  background-color: hotpink;
}

#bottom-bar {
  width: 350px;
  height: 200px;
  background-color: sandybrown;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
}

#page-list2 {
  height: 90%;
  background-color: skyblue;
}

.page2 {
  width: 100%;
  height: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-seagreen {
  background-color: seagreen;
}
.bg-silver {
  background-color: silver;
}
.bg-darkcyan {
  background-color: darkcyan;
}
.bg-darkmagenta {
  background-color: darkmagenta;
}
.bg-blueviolet {
  background-color: blueviolet;
}
